[Unit]
Description=DocFindeService
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3.8 /home/IntelligentDocFinder/index.py

[Install]
WantedBy=multi-user.target
